@page "/"
@page "/purchases"
@inherits PurchasesBase

@if (Purchases != null)
{
    <div class="py-2 pb-2">
        @if (IsLoading)
        {
            <div class="fixed top-0 right-0 h-screen w-screen z-50 flex justify-center items-center">
                <div class="animate-spin rounded-full h-32 w-32 border-t-2 border-b-2 border-gray-900"></div>
            </div>
        }
        <button class="border-2 float-right border-black w-40 hover:bg-gray-300" @onclick="@(() => ShowAddPurchaseModal())">Add</button>
    </div>
    <div class="pt-8">
        <table class="table-auto border-t-2 border-b-2 border-black table table-striped">
            <tr>
                <th class="w-40 bg-gray-300 border-l-2 border-r-2 border-black"><button @onclick="SwitchSortDate"><div class="text-left font-bold">Date</div></button></th>
                <th class="w-40 bg-gray-300 border-l-2 border-r-2 border-black"><button @onclick="SwitchSortReferenceNumber"><div class="text-left font-bold">Reference Number</div></button></th>
                <th class="w-40 bg-gray-300 border-l-2 border-r-2 border-black"><button @onclick="SwitchSortVendorName"><div class="text-left font-bold">Vendor Name</div></button></th>
                <th class="w-40 bg-gray-300 border-l-2 border-r-2 border-black"><button @onclick="SwitchSortTotal"><div class="text-left font-bold">Total</div></button></th>
                <th class="w-20 bg-gray-300 border-l-2 border-r-2 border-black"><div class="text-left">Edit</div></th>
                <th class="w-20 bg-gray-300 border-l-2 border-r-2 border-black"><div class="text-left">Delete</div></th>
                <th class="w-20 bg-gray-300 border-l-2 border-r-2 border-black"><div class="text-left">View</div></th>
            </tr>

            @foreach (var purchase in Purchases)
            {
                <tr>
                    <td class="border-l-2 border-r-2 border-black">@purchase.Date.ToString("MM/dd/yyyy")</td>
                    <td class="border-l-2 border-r-2 border-black">@purchase.ReferenceNumber</td>
                    <td class="border-l-2 border-r-2 border-black">@purchase.VendorName</td>
                    <td class="border-l-2 border-r-2 border-black">@purchase.Total.ToString("C")</td>
                    <td class="border-l-2 border-r-2 border-black"><button @onclick="@(() => ShowEditPurchaseModal(purchase.Id))">Edit</button></td>
                    <td class="border-l-2 border-r-2 border-black"><button @onclick="@(() => ShowDeletePurchaseModal(purchase.Id))">Delete</button></td>
                    <td class="border-l-2 border-r-2 border-black"><button @onclick="@(() => RedirectViewPurchase(purchase.Id))">View</button></td>
                </tr>
            }
        </table>
    </div>
}
else
{
    <div class="fixed top-0 right-0 h-screen w-screen z-50 flex justify-center items-center">
        <div class="animate-spin rounded-full h-32 w-32 border-t-2 border-b-2 border-gray-900"></div>
    </div>
}