@page "/products"
@inherits ProductsBase

@if (Products != null)
{
    <div class="py-2 text-right">
        <button class="border-2 border-black w-40 hover:bg-gray-300" @onclick="@(() => ShowAddProductModal())">Add</button>
    </div>
    <table class="table-auto border-t-2 border-b-2 border-black table table-striped">
        <tr>
            <th class="w-40 bg-gray-300 border-l-2 border-r-2 border-black"><div>Product</div></th>
            <th class="w-40 bg-gray-300 border-l-2 border-r-2 border-black"><div>Brand</div></th>
            <th class="w-40 bg-gray-300 border-l-2 border-r-2 border-black"><div>Category</div></th>
            <th class="w-40 bg-gray-300 border-l-2 border-r-2 border-black"><div>Description</div></th>
        </tr>
        @foreach (var product in Products)
        {
            <tr>
                <td class="border-l-2 border-r-2 border-black">@product.Name </td>
                <td class="border-l-2 border-r-2 border-black">@product.Brand </td>
                <td class="border-l-2 border-r-2 border-black">@product.ProductCategory</td>
                <td class="border-l-2 border-r-2 border-black">
                    <div class="float-left">@product.Description</div>
                    <div class="float-right"><button class="w-4" @onclick="(() => ShowDeleteVendorModal(product.Id))">x</button></div>
                </td>
            </tr>
        }
    </table>
}
else
{
    <div class="fixed top-0 right-0 h-screen w-screen z-50 flex justify-center items-center">
        <div class="animate-spin rounded-full h-32 w-32 border-t-2 border-b-2 border-gray-900"></div>
    </div>
}
